*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --head-shade: linear-gradient(#0c0 0%, #080 5%,#080 95%, #060 100%);
    --head-lighting: linear-gradient(90deg, 
        #00ff0099,
        #00990000 5%,
        transparent 10%,
        transparent 90%,
        #00990000 95%,
        #00ff0099 100%
    );
    --head-lighting-mask: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1) 50%,  rgba(0, 0, 0, 0));
    --head-sunlight: 0px -2px 3px 3px #0c0;
    --sky-gradient: linear-gradient( #559dff, #81d7ff);
    --sun-gradient: radial-gradient(closest-corner circle at 50% -50%,#ffffffff, #ffffeeda 15%, #ffffccba 20%, #feffad87 50%, #f4ff8f31 100%);
    --ocean-gradient: linear-gradient(#0000ffff, #000099ff 40%);
    --neck-gradient: linear-gradient(#030, #050 20%);
}

#state{
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
    background-color: black;
    border: 5px double white;
    font-family: "Roboto Mono", system-ui;
    text-transform: capitalize;
    z-index: 5;
    padding: 10px;
    font-size: 4rem;
}

.sky{
    background: var(--sky-gradient);
    width: 100%;
    height: 100vh;
    position: relative;
}
.sun{
    position: absolute;
    background: var(--sun-gradient);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.head{
    position: absolute;
    width: 400px;
    height: 400px;
    
    top: calc(100% - 550px);
    left: calc(50% - 200px);
    right: 0;
    
    border-radius: 7.5%;
    background: var(--head-shade);
    z-index: 2;
}
.head-lighting-mask{
    width: 100%;
    height: 100%;
    background: var(--head-lighting);
    mask-image: var(--head-lighting-mask);
    border-radius: 7.5%;
    box-shadow: 0 -1px 0 2px green;
}
.eyes{
    position: absolute;
    width: 75%;
    height: 25%;

    top: 25%;
    left: 12.5%;
}
.eye{
    position: absolute;
    width: calc(100% / 3);
    height: 100%;
    background-color: black;
}
.eye.left{
    left: 0%;
    border-radius: 30% 15% 15% 15%;
}
.eye.right{
    right: 0;
    border-radius: 15% 30% 15% 15%;
}
.pupil{
    width: 25%;
    height: 25%;
    border-radius: 5%;
    background-color:#888;
    top: 40%;
    left: 40%;
    position: absolute;
}
.mouth{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    bottom: 0%;
    border: 1px solid black;
    background-color: black;
    clip-path: polygon(0% 59%, 15% 44%, 20% 54%, 25% 49%, 75% 49%, 80% 54%, 85% 44%, 100% 59%, 100% 60%, 85% 45%, 80% 55%, 75% 50%, 25% 50%, 20% 55%, 15% 45%, 0% 60%);
}
.neck{
    position: absolute;
    width: calc(400px * 0.8);
    height: 150px;
    top: calc(100% - 150px);
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    background: var(--neck-gradient);
}
.ocean{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    background: var(--ocean-gradient);
}
#button-section{
    position: relative;
    width: 300px;
    height: 50px;
    top: calc(100% - 100px);
    left: calc(50% - 150px);
    z-index: 5;
}
button{
    background-color: white;
    position: absolute;
    border: 1px solid black;
    padding: 20px 25px;
    width: 150px;
    z-index: 5;
    font-size: 1rem;
}
